---
const { product } = Astro.props;
const { title, shortDescription, image, price, id } = product;
import ButtonProvider from './ButtonProvider.jsx';

// Calcular delay dinámicamente
let delay = '';
if (id == 1) {
  delay = '0s';
} else if (id > 1 && id <= 5) {
  delay = `${id * 0.135}s`;
} else {
  delay = `${5 * 0.135}s`;
}
---

<a href={`/products/${id}`} class="block group">
  <div
    class="flex flex-col items-center gap-4 bg-[var(--color-6)] border-2 border-[var(--color-4)] rounded-2xl p-6 shadow-md transition-all duration-300 ease-in-out fade-item group-hover:shadow-xl group-hover:-translate-y-1"
    style={`animation-delay: ${delay};`}
  >
    <h2 class="text-2xl font-extrabold text-[var(--color-3)] text-center transition-colors duration-200 group-hover:text-[var(--color-1)]" transition:name={`title-${id}`}>
      {title}
    </h2>

    <img
      src={image}
      alt={title}
      transition:name={`img-${id}`}
      class="w-56 h-auto max-h-[200px] object-cover rounded-xl border-2 border-[var(--color-1)]"
    />

    <p class="text-center max-w-46 text-[var(--color-5)] text-sm leading-relaxed">{shortDescription}</p>

    <div class="flex items-center justify-center gap-4 mt-2">
      <h2 class="text-lg font-bold text-white">$ {price}</h2>
      <button class="bg-[var(--color-2)] text-white px-5 py-2 rounded-full hover:bg-[var(--color-3)] hover:scale-105 transition-all duration-200">
        See More
      </button>
    </div>
  </div>
</a>

<style>
  img {
    transition: transform 0.3s ease-in-out;
  }

  img:hover {
    transform: scale(1.05);
  }

  .fade-item {
    opacity: 0;
    transform: translateY(10px);
    animation: fadeIn 0.3s ease-in-out forwards;
  }

  @keyframes fadeIn {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
</style>
